<ion-tabs class="tabs-icon-only tabs-color-active-positive">

    <ion-tab title="Home" icon-off="icon ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/home">
        <ion-nav-view name="app-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Browse" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/app/search">
        <ion-nav-view name="app-search"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Post" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/app/camera">
        <ion-nav-view name="app-camera"></ion-nav-view>
    </ion-tab>

 <ion-tab title="Activity" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/app/activity">
        <ion-nav-view name="app-activity"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Account" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/account">
        <ion-nav-view name="app-account"></ion-nav-view>     
    </ion-tab>

</ion-tabs>