<ion-view title="Liubov" id="page8">

  <ion-content padding="true" class="has-header">
  
  	 <div class="list user-info">
            <div class="item item-avatar">
                <img src="img/wFfKyCs1Qt6CDp9mBMl9_1462186591-96cf3713f72cefd500f2069118164b08.jpeg">

                <div class="row">
                    <div class="col col-33"><p>1 posts</p></div>
                    <div class="col col-33"><p>0 followers</p></div>
                    <div class="col col-33"><p>0 following</p></div>
                </div>              

                <button class="button button-block button-stable">Edit your profile</button>
               
            </div>
        </div>

  </ion-content>
</ion-view>